html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #fff;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

#sidebar .nav-link {
  transition:  all 0.3s ease;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px 0; 
}

#sidebar .nav-link:hover {
  background-color: #1b6ec2;
  transform: translateX(5px);
  color: #fff !important;
}

#sidebar li {
  margin: 5px 15px;
}