
@{
    ViewData["Title"] = "Index";
}

<section class="welcome-banner" style="background-image: url('/images/oldlib.jpg');">
    <div class="inside-welcome">
        <h2>Bun venit la biblioteca CEEF!</h2>
        <h3>Peste 9000 de carti la mai mult de 200 de teme diferite</h3>
        <a class = "btn search" href="Home/Search" aria-label="Gasește cărți">
            <i class="ri-arrow-right-double-line icon"></i>
        </a>
    </div>

</section>

<div class="article-stats">
    <div class="article-stats-header">
        <h2>Despre bibliotecă</h2>
    </div>

    <div class="stats-container">
        <div class="stat-block">
            <h3 class="stat-header">Cărți</h3>
            <div class="stat-counter" id="books-counter">512312</div>
        </div>

        <div class="stat-block">
            <h3 class="stat-header">Autori diferiți</h3>
            <div class="stat-counter" id="authors-counter">0</div>
        </div>

        <div class="stat-block">
            <h3 class="stat-header">Teme diferite</h3>
            <div class="stat-counter" id="topics-counter">0</div>
        </div>
    </div>
</div>

<div class="listing-wrapper">
    <div class="widget-header">
        <h2 class="widget-title">Servicii propuse</h2>
    </div>
    <div class="articles-container">
        <div class="article">
            <a href="#">
                <img src="/images/rent.jpg" alt="Service 1">
                <h2>Împrumut de cărți</h2>
                <h3>Cum să împrumuți cărți și să rezervezi online</h3>
            </a>
        </div>

        <div class="article">
            <a href="#">
                <img src="/images/sala_lectura.jpg" alt="Service 2">
                <h2>Sala de lectură</h2>
                <h3>Locul ideal pentru a citi cărțile împrumutate într-o atmosferă liniștită</h3>
            </a>
        </div>

        <div class="article">
            <a href="#">
                <img src="/images/ebook.jpg" alt="Service 3">
                <h2>Resurse online</h2>
                <h3>Vizionează lista de cărți disponibile și caută articolele care te interesează</h3>
            </a>
        </div>

        <div class="article">
            <a href="#">
                <img src="/images/events.jpg" href="#" alt="Service 4">
                <h2>Evenimente culturale</h2>
                <h3>Vezi ce evenimente culturale se desfășoară în incinta bibliotecii CEEF.;</h3>
            </a>
        </div>
    </div>
</div>